<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcS0NdzKFUxz0Y_24Ofd8MrmgljYINmKY</string>
	<key>GCM_SENDER_ID</key>
	<string>24490426449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.katja-ruebel.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-b2fd8</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-b2fd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24490426449:ios:a96ed60dcdebe25944f870</string>
</dict>
</plist>